//- includes/applewatch.jade
include mixins.jade

//- 38mm
+sketchsheet('Apple Watch 38mm', 'Apple-Watch-38mm-x2', 'applewatch portrait landscape portrait-landscape', 'Apple-Watch/38mm/Apple-Watch-38mm-x2')
+sketchsheet('Apple Watch 38mm', 'Apple-Watch-38mm-x3', 'applewatch portrait landscape portrait-landscape', 'Apple-Watch/38mm/Apple-Watch-38mm-x3')
+sketchsheet('Apple Watch 38mm', 'Apple-Watch-38mm-x4', 'applewatch portrait landscape portrait-landscape', 'Apple-Watch/38mm/Apple-Watch-38mm-x4')


//- 38mm+42mm
+sketchsheet('Apple Watch 38mm & 42mm', 'Apple-Watch-38mm-x1-42mm-x1', 'applewatch portrait landscape portrait-landscape', 'Apple-Watch/38mm+42mm/Apple-Watch-38mm-x1-42mm-x1')
+sketchsheet('Apple Watch 38mm & 42mm', 'Apple-Watch-38mm-x2-42mm-x2', 'applewatch portrait landscape portrait-landscape', 'Apple-Watch/38mm+42mm/Apple-Watch-38mm-x2-42mm-x2')

//- 42mm
+sketchsheet('Apple Watch 42mm', 'Apple-Watch-42mm-x2', 'applewatch portrait landscape portrait-landscape', 'Apple-Watch/42mm/Apple-Watch-42mm-x2')
+sketchsheet('Apple Watch 42mm', 'Apple-Watch-42mm-x3', 'applewatch portrait landscape portrait-landscape', 'Apple-Watch/42mm/Apple-Watch-42mm-x3')
+sketchsheet('Apple Watch 42mm', 'Apple-Watch-42mm-x4', 'applewatch portrait landscape portrait-landscape', 'Apple-Watch/42mm/Apple-Watch-42mm-x4')