//- includes/galaxynote5.jade
include mixins.jade

//- Portrait
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Standard-x2', 'galaxynote5 portrait standard', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Standard-x2')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Standard-x3', 'galaxynote5 portrait standard', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Standard-x3')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Standard-x4', 'galaxynote5 portrait standard', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Standard-x4')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Standard-x1-Scrolled-x1', 'galaxynote5 portrait standard-scrolled', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Standard-x1-Scrolled-x1')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Standard-x2-Scrolled-x1', 'galaxynote5 portrait standard-scrolled', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Standard-x2-Scrolled-x1')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Standard-x2-Scrolled-x2', 'galaxynote5 portrait standard-scrolled', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Standard-x2-Scrolled-x2')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Scrolled-x2', 'galaxynote5 portrait scrolled', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Scrolled-x2')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Scrolled-x3', 'galaxynote5 portrait scrolled', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Scrolled-x3')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Scrolled-x4', 'galaxynote5 portrait scrolled', 'GalaxyNote5/Portrait/GalaxyNote5-Portrait-Scrolled-x4')

//- Portrait + Landscape
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Standard-x1-Landscape-Standard-x1', 'galaxynote5 portrait-landscape standard', 'GalaxyNote5/Landscape+Portrait/GalaxyNote5-Portrait-Standard-x1-Landscape-Standard-x1')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Standard-x1-Landscape-Scrolled-x1', 'galaxynote5 portrait-landscape standard-scrolled', 'GalaxyNote5/Landscape+Portrait/GalaxyNote5-Portrait-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Portrait-Scrolled-x1-Landscape-Scrolled-x1', 'galaxynote5 portrait-landscape scrolled', 'GalaxyNote5/Landscape+Portrait/GalaxyNote5-Portrait-Scrolled-x1-Landscape-Scrolled-x1')

//- Landscape
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Landscape-Standard-x2', 'galaxynote5 landscape standard', 'GalaxyNote5/Landscape/GalaxyNote5-Landscape-Standard-x2')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Landscape-Standard-x1-Landscape-Scrolled-x1', 'galaxynote5 landscape standard-scrolled', 'GalaxyNote5/Landscape/GalaxyNote5-Landscape-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('Galaxy Note 5', 'GalaxyNote5-Landscape-Scrolled-x2', 'galaxynote5 landscape scrolled', 'GalaxyNote5/Landscape/GalaxyNote5-Landscape-Scrolled-x2')