//- includes/nexus5x.jade
include mixins.jade

//- Portrait
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Standard-x2', 'Nexus5x portrait standard', 'Nexus5x/Portrait/Nexus5x-Portrait-Standard-x2')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Standard-x3', 'Nexus5x portrait standard', 'Nexus5x/Portrait/Nexus5x-Portrait-Standard-x3')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Standard-x4', 'Nexus5x portrait standard', 'Nexus5x/Portrait/Nexus5x-Portrait-Standard-x4')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Standard-x1-Scrolled-x1', 'Nexus5x portrait standard-scrolled', 'Nexus5x/Portrait/Nexus5x-Portrait-Standard-x1-Scrolled-x1')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Standard-x2-Scrolled-x1', 'Nexus5x portrait standard-scrolled', 'Nexus5x/Portrait/Nexus5x-Portrait-Standard-x2-Scrolled-x1')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Standard-x2-Scrolled-x2', 'Nexus5x portrait standard-scrolled', 'Nexus5x/Portrait/Nexus5x-Portrait-Standard-x2-Scrolled-x2')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Scrolled-x2', 'Nexus5x portrait scrolled', 'Nexus5x/Portrait/Nexus5x-Portrait-Scrolled-x2')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Scrolled-x3', 'Nexus5x portrait scrolled', 'Nexus5x/Portrait/Nexus5x-Portrait-Scrolled-x3')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Scrolled-x4', 'Nexus5x portrait scrolled', 'Nexus5x/Portrait/Nexus5x-Portrait-Scrolled-x4')

//- Portrait + Landscape
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Standard-x1-Landscape-Standard-x1', 'Nexus5x portrait-landscape standard', 'Nexus5x/Landscape+Portrait/Nexus5x-Portrait-Standard-x1-Landscape-Standard-x1')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Standard-x1-Landscape-Scrolled-x1', 'Nexus5x portrait-landscape standard-scrolled', 'Nexus5x/Landscape+Portrait/Nexus5x-Portrait-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('Nexus 5x', 'Nexus5x-Portrait-Scrolled-x1-Landscape-Scrolled-x1', 'Nexus5x portrait-landscape scrolled', 'Nexus5x/Landscape+Portrait/Nexus5x-Portrait-Scrolled-x1-Landscape-Scrolled-x1')

//- Landscape
+sketchsheet('Nexus 5x', 'Nexus5x-Landscape-Standard-x2', 'Nexus5x landscape standard', 'Nexus5x/Landscape/Nexus5x-Landscape-Standard-x2')
+sketchsheet('Nexus 5x', 'Nexus5x-Landscape-Standard-x1-Landscape-Scrolled-x1', 'Nexus5x landscape standard-scrolled', 'Nexus5x/Landscape/Nexus5x-Landscape-Standard-x1-Landscape-Scrolled-x1')
+sketchsheet('Nexus 5x', 'Nexus5x-Landscape-Scrolled-x2', 'Nexus5x landscape scrolled', 'Nexus5x/Landscape/Nexus5x-Landscape-Scrolled-x2')