//- includes/web.jade
include mixins.jade

+sketchsheet('Desktop-x1', 'web landscape', 'Web/Desktop-x1')
+sketchsheet('Desktop-x1-Mobile-x1', 'web portrait-landscape', 'Web/Desktop-x1-Mobile-x1')
+sketchsheet('Mobile-x3', 'web portrait', 'Web/Mobile-x3')
+sketchsheet('Tablet-x1-Mobile-x1', 'web portrait-landscape', 'Web/Tablet-x1-Mobile-x1')
+sketchsheet('Tablet-x2', 'web landscape', 'Web/Tablet-x2')