//- includes/web.jade
include mixins.jade

+sketchsheet('Web Desktop', 'Desktop-x1', 'web landscape', 'Web/Desktop-x1')
+sketchsheet('Web Desktop & Mobile', 'Desktop-x1-Mobile-x1', 'web portrait-landscape', 'Web/Desktop-x1-Mobile-x1')
+sketchsheet('Web Mobile', 'Mobile-x3', 'web portrait', 'Web/Mobile-x3')
+sketchsheet('Web Tablet & Mobile', 'Tablet-x1-Mobile-x1', 'web portrait-landscape', 'Web/Tablet-x1-Mobile-x1')
+sketchsheet('Web Tablet', 'Tablet-x2', 'web landscape', 'Web/Tablet-x2')