//- index.jade
doctype html
html(lang="en")
  head
    include includes/head.jade
    title Printable device sketch sheet templates for UI & UX designers
    meta(name='title' ,content='Printable sketch sheets for UI & UX designers')
    meta(property='og:title', content='Printable sketch sheets for UI & UX designers')
    meta(name='description', content='Download free printable device templates for UI & UX designers. Each sketch sheet contains a blank and dotted-grid version in in .png and .pdf formats')
    meta(property='og:description', content='Download free printable device templates for UI & UX designers. Each sketch sheet contains a blank and dotted-grid version in in .png and .pdf formats')
    link(rel='stylesheet', href='css/style.css')
  body     
  
    // BG Gradient
    
    .gradient
    
    .broken-card
      h1 Somethings definitely missing!
      p This page has either been torn up or has yet to be sketched :(
      a(href='/') Go back home
