//- index.jade
doctype html
html(lang="en")
  head
    include includes/head.jade
    title Printable device sketch sheet templates for UI & UX designers
    meta(name='title' ,content='Printable sketch sheets for UI & UX designers')
    meta(property='og:title', content='Printable sketch sheets for UI & UX designers')
    meta(name='description', content='Download free printable device templates for UI & UX designers. Each sketch sheet contains a blank and dotted-grid version in in .png and .pdf formats')
    meta(property='og:description', content='Download free printable device templates for UI & UX designers. Each sketch sheet contains a blank and dotted-grid version in in .png and .pdf formats')
    link(rel='stylesheet', href='css/style.css')
  body     


    // Header
    header.header

      // Logo and Nav
      .row
        .column.logo-wrap
          a(href='/')
            .logo
        .column.nav-wrap
          a(href='http://twitter.com/sketchsheets' target='_blank') 
            | Follow us
          a(href='mailto:mail@sketchsheets.com' target='_blank') 
            | Suggest a device
      // End Logo and Nav

      // About
      .row
        .column.about
          h1 Ready to print device sketch sheets
      // End About

      // Device Filter
      .row
        .column.filters
          .filter.device
            .filter-list(data-filter-group='device')
              button.button.checked(data-filter='') All
              button.button(data-filter='.iphone5') iPhone 5
              button.button(data-filter='.iphone6') iPhone 6
              button.button(data-filter='.ipad') iPad
              button.button(data-filter='.galaxynote5') Galaxy Note 5
              button.button(data-filter='.nexus5x') Nexus 5x
              button.button(data-filter='.web') Web
              button.button(data-filter='.applewatch') Apple Watch  
      // End Device Filter


    // End Header


    // Sketchsheets
    section.grid
      form(name='zips' method='post' action='zip.php')
        .row.justify.grid-content
          include includes/iphone5.jade
          include includes/iphone6.jade
          include includes/ipad.jade
          include includes/galaxynote5.jade
          include includes/nexus5x.jade
          include includes/web.jade
          include includes/applewatch.jade
        input(type='submit' name='zipit' class='zipit')
        .end
          p #[a(href='spotify:track:5UgT7w6zVZjP3oyawMzbiK') This is the end]
          p Feel like something's missing? #[a(href='mailto:mail@sketchsheets.com') Leave some feedback]
    // End Sketchsheets


    // Download Collection
    .download-collection
      button.download-collection-button
        .button-label
          | Download Collection
        .collection-total
          span.collection-total-count
            | 0
    // End Download Collection


    // Downloading
    .alert-wrap
      .alert
        .alert-label
          | #[span #[i.icon-check]] Your download has started
    // End Downloading


    include includes/footer.jade
    include includes/scripts.jade