@require 'vendorprefix.styl'
@require 'config.styl'

body
  font 600 14px $font
  letter-spacing -0.5px
  background $background
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

h1
  font-size $h1-size

h2
  font-size $h2-size

h3
  font-size $h3-size

h4
  font-size $h4-size

h5
  font-size $h5-size

h6
  font-size $h6-size

h1,h2,h3,h4,h5,h6
  margin 1.5em 0

p
  margin 1em 0
  font-size $p-size
  line-height $line-height
  color $paragraph
  
a
  text-decoration none
  color $paragraph
  &:hover
    color $purple
    
button
  outline none
  border none
  background none
  &:hover
  &.checked
    cursor pointer

/////////////////////// Header

.header
  background $dark
  .row
    margin auto
    @media (min-width $screen-desktop-xlarge)
      width $screen-desktop-xlarge
  
.header
  .logo-wrap
    margin 10px 0
    @media (min-width 600px)
      margin 0
    text-align center
    a 
      position relative
      margin auto
      display inline-block
      @media (min-width 600px)
        float left
      .logo
        width 122px
        height 24px
        background url(../img/logo.svg) left center no-repeat
        background-size contain

.header
  .nav-wrap
    margin 10px 0
    @media (min-width 600px)
      margin 0
    text-align center
    a 
      color $dark-text
      position relative
      font-size 14px
      padding 12px
      margin auto
      &:hover
        color $purple
      @media (min-width 600px)
        &:first-of-type
          padding-right 0
        float right
      i 
        position absolute
        left 0
        font-size 18px
        
.header
  .row:nth-of-type(1)
    padding 20px 20px 30px 20px
  .row:nth-of-type(2)
    h1 
      text-align center
      color $dark-text
      font-size 18px
      font-weight 600
      margin 0
  .row:nth-of-type(3)
    padding 30px 0 20px 0

/////////////////////// Filters

.filters
  .filter.device
    text-align center
      
.filter
  .filter-list
    button.button
      display inline-block
      padding 15px 25px
      margin 8px
      border-radius 100px
      font-size 12px
      font-weight 600
      border 1.5px dashed $dark-text
      color $dark-text
      &:hover
      &.checked
        color #fff
        background $purple
        border 1.5px solid $purple
        cursor pointer

/////////////////////// Grid

card()
  display inline-block
  background #FFFFFF
  border-radius $border-radius
  box-shadow 0px 26px 40px -24px rgba(0, 36, 100, 0.30)
  
section.grid
  font-size 0
  position relative
  margin 20px auto
  width 100%
  @media (min-width 350px)
    width 350px
  @media (min-width 700px)
    width 700px
  @media (min-width 1050px)
    width 1050px
  @media (min-width $screen-desktop-xlarge)
    width $screen-desktop-xlarge
    
.grid-content
  > .column.column.item,
  .column.column.stamp
    padding 25px
    width 100%
    @media (min-width 700px)
      width (100/2) + '%'
    @media (min-width 1050px)
      width (100/3) + '%'
    @media (min-width $screen-desktop-xlarge)
      width (100/4) + '%'
      
//////////////////// Carbonads

.grid-content
  > .column.column.stamp
    position absolute
    top 0
    right 0

.card-ad
  background $dark
  border-radius $border-radius
  position relative
  display inline-block
  width 300px
  height 390px
  padding 105px 10px
  text-align center
  
#carbonads 
  display inline-block
  overflow hidden
  padding 1em
  font-family 'Verdana', 'Helvetica Neue', Helvetica, sans-serif
  line-height 1.5
  a 
    color $paragraph
  
.carbon-wrap
  display inline-block
  top 50%
  left 0
  right 0
  transform translateY(-50%)
  margin auto
  position absolute

#carbonads span 
  display inline-block
  overflow hidden

.carbon-text 
  display block
  margin-bottom 1em
  text-align left
  width 100px
  margin-left auto
  margin-right auto

.carbon-img 
  display inline-block
  margin 0 auto 1em
  text-align center

.carbon-poweredby 
  display block
  text-align right
  position absolute
  bottom 25px
  right 25px
  font-size .8em
  
//////////////////// Sketchsheets

.card
  card()
  width 300px
  position relative
  padding 105px 10px
  text-align center
  transition 300ms
  &.border
    box-shadow 0px 5px 18px -8px rgba(0, 0, 0, 0.20) !important
    transform scale(0.98)
    opacity 0.7
    
.card
  .card-title
    position absolute
    top 40px
    left 40px
    font-size 11px
    color $paragraph

.card
  img
    width 90%

.card
  .overlay
    display none
    position absolute
    text-align center
    z-index 1000
    border-radius $border-radius        
    top 0
    left 0
    bottom 0
    right 0
    height 100%
    width 100%
    background alpha(#F5F8FC, 0.9)
    span
      position absolute
      margin auto
      width 100%
      left 0
      right 0
      top 48%
      color $purple
      font-size 14px

.card
  input
    z-index 1010
    position absolute
    top 26px
    right 26px
    cursor pointer
    width 46px
    height 46px
    opacity 0

.card
  input
    &:checked
      ~ span
        background #F1F4F8
        > i.icon-plus
          display none
        > i.icon-check
          display block !important
      &:hover
        ~ span
          background #F1F4F8
      ~ .overlay
        display block !important
    &:hover
      ~ span
        background #F7F9FA
        > i 
          color $purple
.card
  > span
    z-index 1000
    position absolute
    top 26px
    right 26px
    border-radius 36px
    display block
    width 46px
    height 46px
  > span i
    position absolute
    font-size 16px
    left 15px
    top 15px
    color $purple
    &.icon-plus
      display block
    &.icon-check
      display none

.card
  .downloadzip
    position absolute
    color $purple
    bottom 30px
    left 0
    right 0
    margin 0
    text-align center
    font-size 14px
    font-weight 600
    span
      &:hover
        color alpha($purple, 0.8)
        cursor pointer
          
.end 
  text-align center
  font-size 13px
  color $paragraph
  padding 30px 0 55px 0
  font-style italic
  font-weight 600
  a 
    color $paragraph
    border-bottom 1px solid $line
    &:hover
      color $purple
      border-bottom 1px solid $purple
          
.download
  margin-bottom 20px
  button
    width auto
          
.zipit
  display none
  
/////////////////////// Footer
    
.footer
  position relative
  background $dark
  
.footer
  .wrap 
    padding 0 25px
    
.footer
  .footer-links
    padding 150px 0
    
.footer
  h6
    margin 0.5em auto
    font-weight 600
    width 50%
    color $heading

.footer
  ul 
    margin 0 auto
    list-style none
    width 50%
    li 
      font-size 14px
      padding 5px 0
      a
        color $paragraph
        font-weight 600
        &:hover
          color $purple
          
.footer
  p 
    text-align center
    font-weight 600
    color $paragraph
    a 
      color $paragraph
      border-bottom 1px solid $line
      &:hover
        color $purple
        border-bottom 1px solid $purple

.footer
  span 
    position relative
    display inline-block
    width 18px
    height 18px
    margin 0 2px
    i 
      position absolute
      top 6px
      left 0
      font-size 16px
      
  
/////////////////////// Download Collection

.download-collection
  z-index 9999
  position fixed
  margin auto
  width 260px
  left 0
  right 0
  bottom 40px
  @media (min-width 600px)
    margin 0
    left auto
    right 50px
    bottom 50px
  transform translateY(200%)
  transition 300ms
  
.download-collection
  button
    width 100%
    font-size 13px
    padding 25px
    color #fff
    background $purple
    border-radius $border-radius + 4px
    transform scale(0.96)
    transition 150ms
    overflow hidden
    &.shadow
      transform scale(1)
      box-shadow  0px 20px 40px -20px rgba(0,0,0,0.8)
      &:hover
        transform scale(1.025)
        box-shadow  0px 20px 45px -20px rgba(0,0,0,0.7)
    div
      float left
    .button-label
      width 70%
      text-align right
      font-size 13px
    .collection-total
      width 30%
      position relative
      span 
        position absolute
        top -2px
        text-align center
        width 20px
        height 20px
        border 1px solid #fff
        font-size 11px
        line-height 18px
        border-radius $border-radius
  &.appear
    transform translateY(0)

.countAnim 
  -webkit-animation countAnim 350ms forwards
  animation countAnim 350ms forwards

@keyframes countAnim 
  50% 
    opacity 0
    -webkit-transform translate3d(0, 35px, 0)
    transform translate3d(0, 35px, 0)

  51% 
    opacity 0
    -webkit-transform translate3d(0, -35px, 0)
    transform translate3d(0, -35px, 0)

  100% 
    opacity 1
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)
    
/////////////////////// Downloading Alert
.alert-wrap
  z-index 9999
  position fixed
  margin auto
  width 300px
  bottom 40px
  left 0
  right 0
  @media (min-width 600px)
    margin 0
    left auto
    right 50px
    bottom 50px
  transform translateY(200%)
  transition 300ms
  &.appear
    transform translateY(0)
    
.alert 
  padding 25px
  background $purple
  border-radius $border-radius + 4px
  transition 300ms
  transform scale(0.98)
  &.shadow
    transform scale(1)
    box-shadow  0px 20px 40px -20px rgba(0,0,0,0.8)
    
.alert-label
  color #fff
  font-size 14px
  padding-left 60px
  span 
    position absolute
    top 24px
    left 40px
  span i
    font-size 22px
    
////////////////////////// 404

.broken-card
  position absolute !important
  top 0
  left 0
  right 0
  bottom 0
  margin auto
  width 80%
  max-width 800px
  max-height 400px
  card()
  padding 100px 50px
  
.broken-card
  text-align center
  p 
    font-size 16px
  a
    position absolute
    bottom 30px
    display inline-block
    left 0
    right 0
    color $purple
    &:hover
      color alpha($purple, 0.8)